header{
    justify-content: center;
}

header .img {
    margin-left: 20px;
    width: 50px;
}

header nav {
    width: 100%;
}
header img{
    display: none;
}
nav::before {
    display: none;
}



main {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: auto;
    -ms-overflow-style: none; /* esconde o scroll no Internet Explorer e Edge */
    scrollbar-width: none; /* esconde o scroll no Firefox */
}

main::-webkit-scrollbar {
    width: 0px; 
}

.left {
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.left h1 {
    margin-bottom: 50px;
}

.right {
    width: 100%;
    height: auto;
    margin: 50px 0 0px 0;
}

.right .img {
    position: static;
    width: 65%;
    height: 400px;
    margin: auto;
    overflow: hidden;
}

.right .img img{
    width: 100%;
    height: 100%;
}

#elemento-pai-de-main {
    overflow: visible;
}
