main{
    flex-direction: column-reverse;
}

.right{
    margin-bottom: -100px;
}

.right .img{
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin-left: -50px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.363);
}
.right .img img{
    width: 100%;
}

.left{
    width: 90%;
    margin-bottom: 100px;
    margin-top: 150px;
}