
nav::before{
    content: "";
    height: 0px;
    width: 0%;
}

header nav {
    width: 0%;
    height: 60px;
    display: none;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

header .img {
    width: 35px;
    margin-left: 50px;
}

main {
    width: 90%;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    justify-content: start;
}

main .text {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
main .text h1{
    font-size: 1.7rem;
    font-weight: 300;

} 
main button {
    background-color: #fffffff5;
    color: black;
    margin: auto;
    width: 150px;
    height: 150px;
}

#menu-mobile{
    display: block;
    position: static;
}

i{  
    color: white;
    font-size: 2.5rem;
    margin: 6px 60px 0 0;
    cursor: pointer;
}

.menu-mobile-active{
    background-color: rgba(19, 17, 17, 0.897);
    position: absolute;
    width: 100vw;
    top: -20px;
    height: 560px;
    font-size: 1.5rem;
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: apareceDaDireita .2s ease-out;

}

.fa-xmark{
    width: 100%;
    text-align: right;
    margin-top: -50px;
    cursor: pointer;
}
