body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Space Grotesk, sans-serif;
    margin: 0;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black url(../../assets/Planet-earth-surface-atmosphere_1920x1080.jpg) no-repeat;
    background-size: cover;
    animation: none;
    z-index: 2;
}

nav::before{
    content: "";
    height: 0px;
    width: 0%;
}

header nav {
    width: 0%;
    height: 60px;
    display: none;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

header .img {
    width: 35px;
    margin-left: 50px;
}

main {
    width: 90%;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    justify-content: start;
    position: relative;
}

main .text {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}
main .text h1{
    font-size: 1.7rem;
    font-weight: 300;
} 
main button {
    background-color: #fffffff5;
    color: black;
    margin: auto;
    width: 150px;
    height: 150px;
}

#menu-mobile{
    display: block;
}

i{  
    color: white;
    font-size: 2.5rem;
    margin: 6px 60px 0 0;
    cursor: pointer;
}

.menu-mobile-active{
    background-color: rgba(19, 17, 17, 0.897);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50%;
    left: -307px;
    width: 100vw;
    height: 500px;
    font-size: 1.5rem;

    display: none;
}

.fa-xmark{
    width: 100%;
    text-align: right;
    margin-top: -50px;
    cursor: pointer;
}